# Kconfig - nRF52 BLENANO 2 board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0


config BOARD_NRF52_MODUL
	bool "nRF52 MODUL"
	depends on SOC_NRF52832_QFAA
